{
    # Ativa certificados locais para dev
    local_certs
    # Aumenta tamanho de buffers e otimiza logs
    admin off
}

# Redireciona todo HTTP para HTTPS
http://localhost {
    redir https://localhost{uri} permanent
}

# Servidor HTTPS
https://localhost {
    root * public

    # Ativa o PHP embutido do FrankenPHP
    php_server

    # Cache de arquivos estáticos (CSS, JS, imagens)
    file_server

    # Regras de fallback pro Laravel (index.php)
    try_files {path} /index.php?{query}
}
